.main-wrapper {
	padding: 12px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 16px;
}

nav ul li {
	font-weight: 600;
	cursor: pointer;
}

nav ul li:hover {
	color: blueviolet;
}


input {
	display: inline-block;
}

.m-20 {
	margin: 20px 5px;
}

.flex {
	display: flex;
	gap: 10px;
}

.flex-1 {
	flex: 3;
}

.custom-hooks {
	border-left: 1px solid #444;
	padding: 0 10px;
	flex: 5;
}

.custom-hooks h1 {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	margin-top: 5px;
}

.custom-hooks section {
	display: flex;
	gap: 8px;
}

.custom-hooks section > div {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	flex: 1;
}

.custom-hooks section > div h4 {
	margin-top: 0;
	color: #333;
}

.custom-hooks .btn-section {
	margin: 12px 0;
}
